* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --green: #AFFC41;
  --violet: #3C1642;
  --mint: #B2FF9E;
}

body {
  display: flex;;
  flex-direction: column;
  background-color: white;
  color: white;
}

#head {
  display: flex;
  background-color: var(--green);
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.content {
  background-color: violet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px;
}

form {
  display: flex;
}
